.App {
  text-align: center;
  background-color: lightblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#wrongPassword{
  color: red;
  border: red 10px solid;
}

#list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#regForm{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.eachCard{
  border: 1px lightblue solid;
  padding: 40px;
  background-color: black;
  color: white;
  border-radius: 25px;
}